@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    background: #f0f2f5;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4 {
    color: #333;
    font-weight: 600;
}
.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: transparent;
    border-bottom: 1px solid #eee;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}