@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    background: #f0f2f5;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4 {
    color: #333;
    font-weight: 600;
}